on post-fs
    # Panel backlight
    chown system system /sys/class/leds/lm3533-lcd-bl/als_enable
    chown system system /sys/class/leds/lm3533-lcd-bl/als_on_suspend_enable
    chown system system /sys/class/leds/lm3533-lcd-bl/brightness
    chmod 660 /sys/class/leds/lm3533-lcd-bl/brightness
    chown system system /sys/class/leds/lm3533-lcd-bl/fsc
    chown system system /sys/class/leds/lm3533-lcd-bl/max_brightness
    chown system system /sys/class/leds/lm3533-lcd-bl/pwm

on boot
    # Set default brightness for boot
    write /sys/class/leds/lm3533-lcd-bl/brightness 127

    # Vibrator
    chown system system /sys/devices/virtual/timed_output/vibrator/level

    # Camera/Libals
    chown media input /dev/input/event11
