on boot
    # Panel backlight
    chown system system /sys/class/leds/lm3533-lcd-bl/brightness
    chmod 660 /sys/class/leds/lm3533-lcd-bl/brightness

    # Set default brightness for boot
    write /sys/class/leds/lm3533-lcd-bl/brightness 165

    # Vibrator
    chown system system /sys/devices/virtual/timed_output/vibrator/level

    # Camera/Libals
    chown media input /dev/input/event11
